.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--secondary-bg-clr);
}

.team-title {
    margin-bottom: 50px;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.12;
    text-align: center;

    color: var(--secondary-txt-clr);
}

.team-list {
    display: flex;
    margin-right: 30px;
    justify-content: space-between;
}

.team-list:last-child {
    margin-right: 0;
}

.team-item {
    background-color: var(--nav-bg-clr);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-member {
    margin-bottom: 10px;

    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    color: var(--secondary-txt-clr);
}

.team-text {
    margin-bottom: 16px;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    color: var(--main-txt-clr);
}

.socials {
    display: flex;
}

.socials-item:first-child {
    margin-left: 32px;
}

.socials-item {
    margin-right: 8px;
    border-radius: 50%;
}

.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    background-color: #fff;
    border-radius: 50%;

    fill: #afb1b8;

    transition: background-color var(--animation);
}

.socials-icon {
    transition: fill var(--animation);
}

.socials-link:hover,
.socials-link:focus {
    fill: var(--nav-bg-clr);
    background-color: var(--accent-clr);
}